@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Roboto', sans-serif;
    
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

a {
    &,
    &:link,
    &:visited {
        text-decoration: none;
    }
    
    &:hover {
        text-decoration: none;
    }
}

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul {
    &, li {
        list-style: none;
    }
}

img {
    vertical-align: top;
    
    &, svg {
        max-width: 100%;
        height: auto;
    }
}

address {
    font-style: normal;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input {
    &::-ms-clear {
        display: none;
    }
    
    &:focus,
    &:active {
        outline: none;
    }
    
    &[type="submit"] {
        display: inline-block;
        box-shadow: none;
        background-color: transparent;
        background: none;
        cursor: pointer;
    }
    
    &[type='file'] {
        max-width: 100%;
    }
}

button {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
    
    &:focus,
    &:active {
        outline: none;
    }
    
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

.container {
    margin: 0 auto;
    
    .title {
        // стили для .title
    }
    
    .menuWeatherSound {
        // стили для .menuWeatherSound
        
        .itemWeatherSound {
            // стили для .itemWeatherSound
        }
    }
}
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}
body{
		width: 100vw;
	height: 100vh;
}
.wrapper{
	display: flex;
.container{
    display: flex;
    flex-direction: column;
	width: 1250px;
	padding: 5px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
   
	.title{
		text-align: center;
		font-size: 32px;
		font-weight: 600;
		color: #ED7138;
	}
	.menuWeatherSound{
        display: flex;
        padding: 10px;
        gap:10px;
		.itemWeatherSound{
        position: relative;
        img{
            border-radius: 20px;
        }
        .icon{
            position: absolute;
            top: 40%;
            left: 42%;
            width: 50px;
            height: 50px;
        }
        }
	}
}
}